<div class="content-container color-{{ section.settings.color_scheme }}">
  <div class="welcome-section xgrid xgrid-cols-1 lg:xgrid-cols-2">
    <!-- First Column -->
    <div class="xflex xflex-col xalign-center xself-center xp-8 md:xmax-w-lg xmx-auto">
      <h1 class="xtext-8xl xfont-semibold xmb-4 xfont-normal xtext-theme-600">{{ section.settings.heading_text }}</h1>
      <p class="xmb-4 xfont-bold">{{ section.settings.paragraph_text }}</p>
      <button class="xmt-12 xborder-2 xrounded-lg xborder-theme-400 xpy-4 xpx-8 xbg-theme-500 xtext-theme-50 xfont-bold hover:xbg-theme-600 active:xbg-theme-700">Nasze produkty</button>
    </div>
    <!-- Second Column -->
    <img
      srcset="{{ section.settings.background_image | img_url: 'master' }}"
      class="xw-full xh-auto xrounded-xl"
      alt="hero image"
    >
  </div>
</div>

{% schema %}
{
  "name": "Welcome Section",
  "settings": [
    {
         "id": "heading_text",
   			"type": "text",
   			"label": "place your title",
   			"default": "default subtitle"
   		},
   		{
   			"id": "paragraph_text",
   			"type": "text",
   			"label": "write your paragraph",
   			"default": "default title"
   		},
   		{
   			"id": "paragraph",
   			"type": "text",
   			"label": "place your paragraph",
   			"default": "default paragraph"
   		},
        {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
        {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "presets": [
    {
            "category": "text",
      "name": "Welcome Section"
    }
  ]
}
{% endschema %}
