<div class="content-container color-{{ section.settings.color_scheme }}">
  <div class="welcome-section twcss-grid twcss-grid-cols-2 twcss-py-12 twcss-mx-auto twcss-max-w-screen-lg ">
    <!-- First Column -->
    <div>
      <h1 class="twcss-text-7xl twcss-font-semibold twcss-mb-4">{{ section.settings.heading_text }}</h1>
      <p class="twcss-text-gray-600 twcss-mb-4">{{ section.settings.paragraph_text }}</p>
      <button>Button</button>
    </div>
    <!-- Second Column -->
    <img
      srcset="{{ section.settings.background_image | img_url: 'master' }}"
      class="twcss-w-full twcss-h-auto twcss-rounded-xl"
      alt="hero image"
    >
  </div>
</div>

{% schema %}
{
  "name": "Welcome Section",
  "settings": [
    {
         "id": "heading_text",
   			"type": "text",
   			"label": "place your title",
   			"default": "default subtitle"
   		},
   		{
   			"id": "paragraph_text",
   			"type": "text",
   			"label": "write your paragraph",
   			"default": "default title"
   		},
   		{
   			"id": "paragraph",
   			"type": "text",
   			"label": "place your paragraph",
   			"default": "default paragraph"
   		},
        {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
        {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ],
  "presets": [
    {
            "category": "text",
      "name": "Welcome Section"
    }
  ]
}
{% endschema %}
